


.Header {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 90px;
    background-color: var(--complement-colour);
    border-bottom: 1px solid var(--accent-colour);
    z-index: 1;
}

.profile {
    height: 75px;
    width: 75px;
    border: 1px solid var(--accent-colour);
    border-radius: 50%;
    background-image: url("../../../public/user.png");
    background-size: cover;
}

.logo {
    margin-top: 10px;
}

.header-left {
    margin-top: 8px;
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.user-pop-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;

    background-color: var(--secondary-colour);
    float: right;
    width: 300px;
    z-index: 1;
    right: 0;

    font-family: var(--normal-text-font);
    color: var(--normal-text-colour);

    border: 0.5px solid var(--accent-colour);
    border-radius: 5px;
    margin-top: 3px;
    
}

.user-pop-container * {
    margin-bottom: 5px;
    margin-left: 5px;
}

.user-pop-container button {
    border: none;
    background-color: inherit;
    color: var(--accent-colour);
    font-weight: 900;
    cursor: pointer;
}