
.link-container {
    display: flex;
    font-size: 15px;
    font-weight: 300;
    font-family: var(--normal-text-font);
    color: var(--normal-text-colour);
    background-color: var(--primary-colour);
    border-radius: 20px;
    margin-top: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    height: 28px;
    user-select: none;
}

.link-container span {
    margin-left: 3px;
}


.select-arrow {
    rotate: 270deg;
}


.project-creator {
    display: flex;
    background-color: var(--complement-colour);
    color: var(--normal-text-colour);
    align-items: center;
    border-radius: 8px;
    justify-content: space-between;
    margin-top: 10px;
    padding: 8px 5px;
    font-family: var(--normal-text-font);
    cursor: pointer;
}


.project-creator span {
    margin-left: 5px;
}

.project-creator div {
    margin-top: 3px;
}

.project-pop-up {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-colour);
    border: 1px solid var(--accent-colour);
    color: var(--normal-text-colour);
    font-size: 20px;
    font-family: var(--normal-text-font);
    border-radius: 15px;
    align-items: center;
    width: 50vw;
    z-index: 20;


    position: absolute;
    left: 50%;
    margin-left: -25vw;
    top: 50%;
    margin-top: -162.5px !important; 
}

.project-pop-up h1 {
    font-size: 36px;
    text-shadow: 0px 4px 4px var(--accent-colour);
}

.project-pop-up input {
   height: 30px;
   width: 40%;
   background-color: var(--secondary-colour);
   border: none;
   border-radius: 8px;
   color: var(--normal-text-colour);
   margin-bottom: 5px;
}

.project-pop-up textarea {
    width: 60%;
    height: 80px;
    background-color: var(--secondary-colour);
    border: none;
    border-radius: 8px;
    color: var(--normal-text-colour);
    margin-bottom: 5px;
 }

 .project-pop-up label {
    text-shadow: 0px 4px 4px var(--normal-text-colour);
 }

 .project-pop-up span {
    background-color: var(--accent-colour);
    font-size: 22px;
    width: 70px;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    user-select: none;
 }

 .project-pop-up span:hover {
    background-color: color-mix(in srgb, var(--accent-colour) 100%, black 25%);
 }

 .blackout {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 0px !important;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.confirmation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.confirmation-container-upper {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

.confirmation-container-lower {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.confirmation-text {
    margin: 0;
    text-align: center;
    font-size: 13px;
    width: 100%;
}

.confirmation-text-accent {
    margin: 0;
    text-align: center;
    font-size: 13px;
    width: 100%;
    color: var(--accent-colour);
}

.confirmation-button {
    text-align: center;
    background-color: var(--secondary-colour);
    border-color: var(--accent-colour);
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    width: 40px;
    font-size: 13px;
    padding: 3px 0px;
    cursor: pointer;
}

.confirmation-button:hover {
    color: var(--accent-colour);
    background-color: var(--complement-colour);
}

.Pop-Container {
    background-color: var(--primary-colour);
    border: 1px solid var(--accent-colour);
    padding: 8px;
    z-index: 3;
    font-family: var(--normal-text-font);
    color: var(--normal-text-colour);
    border-radius: 15px;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.Pop-Container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Pop-Input {
    border: none;
    border-bottom: 0.5px solid var(--accent-colour);
    background-color: var(--secondary-colour);
    color: var(--normal-text-colour);
    font-family: var(--normal-text-font);
    outline: none;
    margin-bottom: 5px;
    border-radius: 3px;
}

.Pop-Button {
    border: none;
    background-color: var(--complement-colour);
    color: var(--accent-colour);
    border-radius: 60px;
    padding: 0px 20px;
    font-size: large;
    cursor: pointer;
}

.Pop-Button:hover {
    background-color: color-mix(in srgb, var(--secondary-colour) 100%, black 25%);
}

.Pop-Header {
    font-size: 28;

}