@import "./colours.css";

.reset {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 61px);
    background-color: var(--primary-colour);
}

